asgiref==3.8.1
backports.zoneinfo==0.2.1;python_version<"3.9"
Django==4.2.9
django-admin-berry==1.0.10
gunicorn==21.2.0
numpy==1.24.4
packaging==24.0
pandas==2.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
str2bool==1.1
typing_extensions==4.11.0
tzdata==2024.1
whitenoise==6.6.0